.indexInner{
    min-height: 400px;
    height: 100%;
    min-width: 300px;
    width: 100%;

    background-color: var(--background-dark);

    padding: 1rem;
    position: relative;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header>h4{
    font-weight: bolder;
    color : var(--naver-color)
}

.account{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userNameInner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.userNameInner>h4{
    font-weight: bolder;
}

.userNameHead{
    color : var(--naver-color)
}


.loginButton{
    font-size: var(--span-size);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-content: center;

    width: 5.3333333rem;
    height: 2rem;

    border: 2px solid var(--naver-color);
    border-radius: 2rem;

    background-color: var(--background-dark);
    transition: 0.2s;
}
    .loginButton:active{
        background-color: var(--naver-color);
        color : var(--background-dark)
    }



/* 팝업 */
.popup{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;

    background-color: var(--background-popup);

    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
}
.popup *{
    pointer-events: none;
}
    .popup.on{
        opacity: 1;    
        pointer-events: initial;
    }
    .popup.on *{
        pointer-events: initial;
    }

.loadingPopup{
    justify-content: center;
    align-items: center;
}

.loadingImage{
    width: 20%;
}

.mode{
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}   
.mode>span{
    font-weight: bolder;
    
}

.switch{
    width: 2.67rem;
    height : 1.34rem;
    border-radius: 1.67rem;

    position: relative;
    background-color: var(--background-darkgray);
    transition: 0.2s;
}
    .switch.on{
        background-color: var(--green-color);
    }
.switchCircle{
    width: 1.2rem;
    height: 1.2rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    
    position: absolute;
    top: 50%;
    left: 2px;

    transform: translate(-0%, -50%);
    transition: 0.2s;
}
    .switch.on .switchCircle{
        left : 20px;
    }
